.page{
    width: 100% !important;
    height: 900px !important;
    max-height: 900px;
  }

#leftSide {
  background-color: #e9f1ff !important;
  width: 25% !important;
  height: 100% !important;
}

.message-container{
  margin: 10%;
}

#rightSide {
  background-image: url("/assets/img/background.367f1200.jpg") !important;
      width: 74% !important;
      height: 900px !important;
        height: 100% !important;
}

button {
  margin: 10px;
}


body::-webkit-scrollbar {
    width: 1em;
}
 
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
