<!--  -->
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>


<div class="page">
  <div id="leftSide" class="col-md-2">
      <div class="message-container">
            <app-message *ngFor="let message of messages; index as i;" [messageValue]="message"></app-message>
      </div>

    <div class="page-footer">
      <app-add-message (newMessage)="translateMessage($event)"></app-add-message>
    </div>
  </div>

  <div id="rightSide" class="col-md-10" style="background-image: url('assets/img/background.367f1200.jpg')">

  </div>
</div>
</body>
</html>





